<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to ('發出求救', new_help_path) %></li>

    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">地區災情</h2>
    <div class="inner">
		<%= render :partial => 'index' %>
    </div>
  </div>
</div>