<div class="secondary-navigation">
  <ul>
	<li> <%= link_to("莫拉克風災捐贈物資管道", donate_path)%> </li>
	<li> <%= link_to("物資協購 & 免費運送", donate_buy_path)%> </li>
	<li> <%= link_to("救援物資代收地點 Google地圖", "http://maps.google.com/maps/ms?ie=UTF8&hl=zh-TW&msa=0&msid=104575551371452297710.000470b5cd56d17528fce&ll=23.775291,120.948486&spn=4.734145,7.064209&z=7" )%></li>

  </ul>

  <div class="clear"></div>
</div>
