<div class="secondary-navigation">
  <ul>
	<li> <%= link_to("志工招募（長期）", recruit_long_path)%> </li>
	<li> <%= link_to("招募志工開團教學", recruit_guide_path )%></li>

  </ul>

  <div class="clear"></div>
</div>
