<div class="block" id="block-text">
  <div class="secondary-navigation">

    <div class="clear"></div>
  </div>
  <div class="content">
   	
    <div class="inner">
		<p>私信請寄 <img src="http://services.nexodyne.com/email/icon/x0aFsQ101u6esw%3D%3D/I%2BmMbTc%3D/R01haWw%3D/0/image.png"></p>
		
    </div>
  </div>
</div>
