<div class="block" id="block-text">
  <div class="secondary-navigation">

    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">物資協購 & 免費運送 - from (&nbsp;<a href="http://sites.google.com/site/emergencyptt/total2"> PTT Emergency 救援物資集散網頁版</a>&nbsp;)</h2>
	
    <div class="inner">
		<iframe src="http://docs.google.com/View?docid=0AUaW7s6Xidn_ZGRoZmJoeHdfMTljbTM0aGNkcQ&amp;hgd=1" width="100%" height="800" frameborder="0"></iframe>
		
    </div>
  </div>
</div>