<div class="block" id="block-text">
  <div class="secondary-navigation">
	<%= render :partial => "donate_bar" %>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">莫拉克風災捐贈物資管道 | &nbsp; <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=zh-TW&msa=0&msid=104575551371452297710.000470b5cd56d17528fce&ll=23.775291,120.948486&spn=4.734145,7.064209&z=7">救援物資代收地點 Google地圖 
	</a></h2>

	
    <div class="inner">
		<pre>物資需求︰
		<b>有動力橡皮艇、水上救援人力、救災物資</b>(乾糧 飲用水)
		<b>純鹽巴、藥品</b>(例如消毒雙氧水、碘酒、Ok蹦、萬用繃帶等)

		若採用寄送，請註明「<b>捐贈南部縣市救助水患災區使用</b>」
		於顯眼處，以利收送人員處理。

		<a href=http://www.pthg.gov.tw/><b>屏東縣政府</b></a>
		屏東市勝豐里自由路145號
		08-7320415
		<b>(屏東縣政府已經授權讓高雄市政府代送物資，所以請寄到高雄市政府即可)</b>

		<a href=http://www.kcg.gov.tw/jsf/index.jsf><b>高雄市政府</b></a>
		80203 高雄市苓雅區四維三路2號
		07-3358080

		<a href=http://www.kscg.gov.tw><b>高雄縣政府</b></a>
		高雄縣鳳山市光復路二段132號
		07-7477611

		<a href="http://www.tainan.gov.tw/cht/index/index.aspx?absolute=1"><b>台南縣政府</b></a>
		台南縣政府社會處︰新營市府西路36號
		0980-537516 或 06-511569
		<!--台南縣新營市民治路36號
		06-6325070-->

		<a href="http://www.taitung.gov.tw/tw/index.aspx"><b>台東縣政府</b></a>
		於社福館(在體育館的對面)有收送地點
		台東縣金峰鄉正興村105號
		089-342841


		其他地區可連絡代收地點，請見<a href="http://maps.google.com/maps/ms?ie=UTF8&hl=zh-TW&msa=0&msid=104575551371452297710.000470b5cd56d17528fce&ll=23.775291,120.948486&spn=4.734145,7.064209&z=7"> <b>代收地點Google地圖</b> </a>

		<b>適合水災災區的四大類物資：
		礦泉水</b>
		請務必以「清水」「礦泉水」為原則， 勿送有甜味飲料、或者是氣泡飲料（如可樂、沙士之類）
		運動飲料雖然有礦物質，但是對災區民眾來說也未必受得了，礦泉水是最好的東西。

		<b>乾糧</b>
		請務必以「低鹽分、低調味」的乾糧為主，例如一般超商買得到的口糧，或者是有一點鹹味的蘇
		打餅乾為主。 不要購買零食類的東西，例如洋芋片、夾心餅乾之類，尤其是夾心餅乾，裡面的
		奶油在災區的環境容易壞。

		<b>易開罐罐頭/熱量食品</b>
		低調味的麵包和巧克力，低調味的麵包主要是土司、波羅這種為主，現在市面上多數會放果醬、
		奶油、起司、肉鬆等等調味的麵包送到災區無法存放，會壞掉。大家想買麵包還是以土司類為主
		，比較好存放、也比較不容易腐敗。

		<b>純鹽巴</b>
		除了鹽巴之外，其他都不要（不要放糖味精啥的）。鹽巴主要維持災民體內電解質，可以讓他們
		配著乾糧、土司或加在水裡面飲用。

		<b>藥品</b>
		簡單、災民容易使用的物品為主，例如消毒雙氧水、碘酒、OK蹦、萬用繃帶等，至於比較複雜的
		藥品，就交給專業的民間救難團體去準備。

		</pre>
		
		from <a href="http://typhoon.oooo.tw/help">莫拉克風災捐贈物資管道 </a>
    </div>
  </div>
</div>