<div class="block" id="block-text">
  <%= render :partial => "recruit_bar" %>
  <div class="content">
	
    <h2 class="title">志工招募(即時)‎- from (&nbsp;<a href="http://sites.google.com/site/emergencyptt/taiwan"> PTT Emergency 救援物資集散網頁版</a>&nbsp;)</h2>
	
    <div class="inner">
		<iframe src="http://docs.google.com/View?docid=0AUaW7s6Xidn_ZGRoZmJoeHdfMTdoc3A4eDZkYw&amp;hgd=1" width="100%" height="600" frameborder="0"></iframe>
    </div>
  </div>
</div>
