<div class="block" id="block-text">
	<%= render :partial => "recruit_bar" %>
  <div class="content">
    <h2 class="title">招募志工開團教學</h2>
	
    <div class="inner">
    <pre>

<big><big><big><strong><%= link_to("Registrano 開團教學", "/registrano") %> </strong></big></big></big> （由<a href="http://blogs.myoops.org/">朱學恒</a>製作 ）

			大家好。我是本站站長 xdite。
			這幾天都在弄這個網站的功能和 scale。

			今天有人建議我在系統上可不可以弄個志工團的招募分派系統。
			因為目前最讓人頭痛的就是志工整派和登記。（缺人力或怕人力過剩）

			我大概想了一下，這種系統大概需要有幾個功能

			1. 登記報名（有額滿限制）
			2. 志工與派工者的需求資訊
			3. 能寄信
			4. 能發簡訊

			我想了一下，一般用來在辦活動的 <a href="http://registrano.com"/>Registrano</a> 都有滿足這個需求...
			在想是不是可以鼓勵大家用 <a href="http://registrano.com"/>Registrano</a> 開志工招募團。
			再將招募連結貼到本站的<%= link_to("招募志工區", helps_path(:help_type => 9 )) %> 或其他地方(如 PTT Emergency) 傳播。
			這樣我也省去重新開發輪子的功夫。

			一點建議，感謝。
			------
			ps.

			自我揭露: <a href="http://registrano.com"/>Registrano</a>  是我前公司 <a href="http://zh.handlino.com/about"/>Handlino</a> 所開發。
			我目前服務於 <a href="http://www.pixnet.net"/>PIXNET</a> 
			
		</pre>
    </div>
  </div>
</div>
