<div class="block" id="block-text">
		<%= render :partial => "recruit_bar" %>
  <div class="content">
    <h2 class="title">88水災家園重整．青年志工招募 &nbsp;&nbsp; <a onClick="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&status=' .concat(encodeURIComponent(location.href)) .concat(' ') .concat('&#40;') .concat(encodeURIComponent(document.title)) .concat('&#41;').concat('&nbsp;&nbsp; ')));" href="#">[推到 Plurk!]</a> </h2>
	
    <div class="inner">
		<div id="recruit-registrno">
			<link href="http://registrano.com/events/rebuilding88/widgets/form-simple.css" media="screen" rel="stylesheet" type="text/css" />
			<script src="http://registrano.com/events/rebuilding88/widgets/form-simple.js"></script>
		</div>
		<div id="note">
			<style type="text/css">
			    .registrano-blog-badge { font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; border: 1px solid #eee; margin-bottom: 20px; } 
			    .registrano-blog-badge div { margin: 0; padding: 0; }
			    .registrano-blog-badge.w-180 { width: 178px; } 
			    .registrano-blog-badge.w-220 { width: 218px; } 
			    .registrano-blog-badge.c-black { background: #000; }
			    .registrano-blog-badge h5 { margin: 0; padding: 10px; font-size: 15px; font-weight: normal; background: #338833; color: #fff; }
			    .registrano-blog-badge .bd { margin: 5px 10px; } 
			    .registrano-blog-badge .event-date { color: #999; }
			    .registrano-blog-badge .event-attendees { margin: 3px 0; color: #c00; }
			    .registrano-blog-badge .event-link { display: block; text-align: center; margin: 0 0 10px 0; padding: 5px; background: #338833; text-decoration: none; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
			    .registrano-blog-badge .event-link:hover { background: #fffc20; color: #222; }
			    .registrano-blog-badge .event-attendees-list { list-style: none; margin: 0 0 0 3px; padding: 0; }
			    .registrano-blog-badge .event-attendees-list li { list-style: none; margin: 0; padding: 0; display: inline; }
			    .registrano-blog-badge .event-attendees-list li img { margin: 0 2px 2px; padding: 0; display: inline; width: 32px; height: 32px; border: 1px solid #eee; }
			</style>
			<div class="registrano-blog-badge w-220" id="registrano-blog-badge-rebuilding88"></div>
			<script src="http://asset.registrano.com/javascripts/blogbadge/zh-tw.js" type="text/javascript" defer="defer"></script>
			
		</div>
		<br class="clear" />
    </div>

  </div>
</div>
