<%= will_paginate @posts %>
<div class="clear"></div>
<%= render_table(@posts,
                [   
	          		["類型", lambda { |p| link_to(p.help_type.name, county_path(p.county,:help_type => p.help_type.id )) if p.help_type }],
	                ["縣市", lambda { |p| link_to(p.county.name, county_path(p.county)) }],
                    ["主旨", lambda { |p| link_to(h(p.subject),help_path(p)) }],
                    ["內容", lambda { |p| show_source_type(p) + content_tag(:div,p.content_html) + show_ip(p) + admin_edit_post_bar(p)}],
  					["最新狀況", lambda { |p| 
						if p.post_comments_count > 5
							link_to("看更多...<br/><br>", help_path(p))+ "&nbsp;&nbsp;"+ link_to_remote('Update',:url => new_help_comment_path(p), :method => :get)  + "<br>"+ render( :partial => "helps/comments", :collection => p.post_comments.recent_5 , :as => :comment ) 
						elsif p.post_comments_count > 0
							link_to_remote('Update',:url => new_help_comment_path(p), :method => :get)  + "<br>"+ render( :partial => "helps/comments", :collection => p.post_comments.recent_5 , :as => :comment )
						else
						  link_to_remote('Update',:url => new_help_comment_path(p), :method => :get) 
						end  }],
                    ["Created at", lambda { |p| p.created_at.to_s + report_it(p)} ],
                  ]
                ) %>
<div class="clear"></div>            
<%= will_paginate @posts %>
<div class="clear"></div>
