  <div class="block">
    <h3>注意事項</h3>

	<p><b><big> 請選擇你的消息來源: [代貼] 或 [轉貼] 或 [看新聞] 或 [第一手來源]，避免救災資源浪費</big></b></p>
	<p><b><big> 請先 <%= link_to("搜尋", search_path) %> 一下有無 po 過的重複資訊 </big></b></p>
	<p><b><big> 本站發文限制為 15 min 一篇，如有快速發文需求，請連絡 <img src="http://services.nexodyne.com/email/icon/x0aFsQ101u6esw%3D%3D/I%2BmMbTc%3D/R01haWw%3D/0/image.png"> ，站長為您開特殊權限</big></b></p>
    <p>煩請在刊登資訊時，再冷靜想一下：這些資訊夠充分嗎？另一方面，不要讓不必要的資訊模糊了焦點。 </p>
    <p>如果提出的求救或物資需求得以抒解，也請回來更新一下最新資訊（可以直接在當初那篇底下留言）。</p>


	<!-- <p><b><big> 請宗教狂熱者不要來亂，你們的醜態全台灣人民都在看</big></b></p> !-->
    以下是建議要提供的資訊--

    <p><b>[求救] </b><br>
     詳細地點:(哪一鄉鄰?或是暫居的位置?) <br>
     災情概況:(有多少人?現在狀況如何?有無受傷?交通狀況?)
     求救事項:(需要急救醫療?飲食物資?) <br>
    </p>
    <p>
    <b> [尋人] </b><br>
     姓名: <br>
     特徵:(性別/身高/體重/外觀) <br>
     所在位置:(居住地/上次聯絡的地點)<br>
     尋人者的聯絡方式: (怎麼稱呼?電話?)<br>
    </p>

    <p>
    <b> [提供物資]</b> <br>
    提供物資清單: <br>
    取物方式: <br>
    聯絡人與連絡方式:<br>
    </p>
    <p>
    <b> [需要物資] </b><br>
     需要物資清單: <br>
     取物方式: <br>
     聯絡人與連絡方式: <br>
    </p>
    <p>
    <b>[志工招募]</b> <br>
    救災計畫概述: (去哪邊、如何救災?例:週末去清掃?)<br>
    招募時間: (截止時間/出發時間)<br>
    招募對象: (男女不拘?壯丁?會什麼專長的?)<br>
    聯絡人與連絡方式:<br>
    </p>
  </div>

