<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title">本站已於 9/6 (日）下午關閉雙向留言服務，感謝這段時間全台灣人民的付出與奉獻。若有雙向留言服務需求，請轉向<%= link_to("莫拉克災情資料表","http://typhoon.oooo.tw/",:target => "_blank")%> (另站)                 </h2>
    <div class="inner">
          <h3 class="title">捐款、募款資訊 - from (&nbsp;<a href="http://sites.google.com/site/emergencyptt/donate"> PTT Emergency 救援物資集散網頁版</a>&nbsp;)</h3>
          
        
       <iframe src="http://docs.google.com/View?docid=0AUaW7s6Xidn_ZGRoZmJoeHdfMTN4c2RxMmNmcw&amp;hgd=1" width="100%" height="800" frameborder="0"></iframe>

    </div>

  </div>
</div>
